/* CSS HEX 
--blue: #1728fd;
--black: #000000;
--white: #ffffff;
--maize: #fff175;
--mint: #09bc8a;
--lavender-floral: #b388eb;
--french-rose: #f83a83;
*/

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.hero {
    min-height: 100vh;
}

.card {
    border: none;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

footer {
    margin-top: 2rem;
}

.nav-item {
    padding: 0 2em;
}

.nav-link {

}

